[records DealsAndDiscounts]
activeOnly = 0
areaSlug = "tury"
categorySlug = "predlozheniya-i-skidki"
useMainCategory = 1
useMultiCategories = 1
tagSlug = "{{ :tag }}"
recordPage = "tour-detail"
recordPageSlug = "{{ :slug }}"
limit = 10
pageSlug = "{{ :page }}"
orderBy = "name"
orderByDirection = "ASC"

[viewBag]
==
{% for record in DealsAndDiscounts.items %}
<div class="item item_tour with_border  ">
  <a
    href="{{DealsAndDiscounts.property('recordPage') ? DealsAndDiscounts.property('recordPage')|page({(DealsAndDiscounts.paramName('recordPageSlug')):(record.slug)})}}">
    <span class="img_wrapper">
      <span class="img lazy"
        style="background-image: url({{ record.preview_image.getPath | resize(240, false, { mode: 'crop', quality: '80', extension: 'jpg' })}})"></span>

      <span class="price-round">
        <span class="inner">from <br />$ {{ record.tour_cost }} US
        
        </span>
      </span>


    </span>
    <div class="desc">
      <h3>{{ record.name }}</h3>
      <p class="excerpt"> {{ record.description }}</p>
    </div>
    <p class="duration"><i class="fa fa-clock-o"></i>
      {{ record.tour_duration }}
       days
    </p>
  </a>
</div>
{% endfor %}