[viewBag]
==
<div class="container">
     <div class="row">

       <div class="col-sm-4">
         <a href="https://kyrgyzstan-tourism.com">
         <img src="{{record.logo.path}}" alt="">
         </a>
         <div class="social">
          


 
        <a href="" target="_blank"><i class=""></i></a>
 

            
          </div>
       </div>

       <div class="col-sm-8">
         <h2>Contacts</h2>
         <div class="row">

           <div class="col-sm-6">
             <p class="phone">
               <phone><a href="tel:"></a></phone>
             </p>
             <p class="phone">
               <phone><a href="tel:"></a></phone>
             </p>
             <p><a href="mailto:info@kyrgyzstan-tourism.com"></a></p>
           </div>
           <div class="col-sm-6">
             <p></p>
           </div>
         </div>
       </div>

     </div>
   </div>