[viewBag]

[categories]
activeOnly = 0
parentCategorySlug = "tury"
areaSlug = 0
categoriesPage = "type-tours"
categoriesPageSlug = "{{ :category }}"
categoryPage = "type-tours"
categoryPageSlug = "{{ :category }}"
limit = 10
==
{% for category in categories.items %}
<div class="item lazy"
  style="background-image: url(&quot;{{ category.preview_image.getPath | resize(1920, false, { mode: 'crop', quality: '80', extension: 'jpg' }) }}&quot;);">
  <div class="carousel-caption">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>{{ category.name }}</h2>
          <h3>{{ category.description }}</h3>
          <div class="button_wrapper">
            <a href="{{categories.property('categoriesPage') ? categories.property('categoriesPage')|page({(categories.paramName('categoriesPageSlug')):(category.slug)})}}"
              class="cstm_button"><i class="fa fa-eye"></i>
              view tours</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<script>
  $('#front_slider .item.lazy').first().addClass('active');
</script>