[records PopularTours]
activeOnly = 0
areaSlug = 0
categorySlug = "populyarnye-tury"
useMainCategory = 1
useMultiCategories = 1
tagSlug = "{{ :tag }}"
recordPage = "tour-detail"
recordPageSlug = "{{ :slug }}"
limit = 10
pageSlug = "{{ :page }}"
orderBy = "name"
orderByDirection = "ASC"

[viewBag]
==
{% for record in PopularTours.items %}

<div class="item item_tour   ">
  <a
    href="{{PopularTours.property('recordPage') ? PopularTours.property('recordPage')|page({(PopularTours.paramName('recordPageSlug')):(record.slug)})}}">
    <span class="img_wrapper">
      <span class="img lazy" style="" data-bg="url({{ record.preview_image.getPath }})"></span>

      <span class="price-round">
        <span class="inner">from <br />${{ record.tour_cost }}</span>
      </span>


    </span>
    <div class="desc">
      <h3> {{ record.name }}</h3>
      <p class="excerpt">{{ record.description }}</p>
    </div>
    <p class="duration"><i class="fa fa-clock-o"></i>
      {{ record.tour_duration }} days</p>
  </a>
</div>

{% endfor %}