[viewBag]

[categories]
activeOnly = 0
parentCategorySlug = "tury"
areaSlug = 0
categoriesPage = "type-tours"
categoriesPageSlug = "{{ :category }}"
categoryPage = "type-tours"
categoryPageSlug = "{{ :category }}"
limit = 10
==
{% for category in categories.items %}

<div class="col-sm-4">
  <div class="item item_tour with_border auto_height tour_type">
    <a
      href="{{categories.property('categoriesPage') ? categories.property('categoriesPage')|page({(categories.paramName('categoriesPageSlug')):(category.slug)})}}">
      <span class="img_wrapper">
            <span class="img lazy"
              style="background-image: url({{ category.preview_image.getPath | resize(360, false, { mode: 'crop', quality: '80', extension: 'jpg' })}})"></span>
      </span>
      
      <div class="desc">
        <h3>{{ category.name }}</h3>
      </div>
    </a>
  </div>
</div>

 {% endfor %}