title = "Home"
url = "/"
layout = "static-layout"
is_hidden = 0
populartoursbanner_popularToursBanner = "/btq3MWGxjKZFzuASimEuCb0PyvKuHAy1eHEmSWtF5fQ.jpg"
contactsbanner_contactsBanner = "/how-to-prepare-for-a-hot-air-balloon-ride-in-cappadocia-.jpg"

[recordDetail TourDetail]
activeOnly = 0
recordSlug = "{{ :slug }}"
areaSlug = 0
categorySlug = "{{ :gruppovye-tury }}"
useMainCategory = 1
categoryPage = 0
categoryPageSlug = "{{ :category }}"

[genericForm]
messages_success = "Ваша форма была успешно отправлена!"
messages_errors = "В вашей заявке содержатся ошибки."
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 1
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"

[records Reviews]
activeOnly = 0
areaSlug = 0
categorySlug = "otzyvy"
useMainCategory = 1
useMultiCategories = 0
tagSlug = "{{ :tag }}"
recordPage = "reviews-detail"
recordPageSlug = "{{ :slug }}"
allowLimit = 1
limit = 2
pageSlug = "{{ :slug }}"
orderBy = "name"
orderByDirection = "ASC"

[siteSearchInclude]
==
{% component 'records' %}


<div id="front_slider" class="carousel slide" data-ride="carousel">


  <ol class="carousel-indicators">
    <li data-target="#front_slider" data-slide-to="7" class=""></li>
    <li data-target="#front_slider" data-slide-to="8" class=""></li>
  </ol>



  <div class="carousel-inner">

    {% partial 'site/main_slider' %}

  </div>

  <a class="left carousel-control hidden-xs" href="#front_slider" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control hidden-xs" href="#front_slider" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
<div id="about">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">





        <div class="hm-about">

          <p>
            <img style="float: left; margin-right: 35px; margin-top: 30px; max-width: 300px; width: 100%;" src="{{this.theme.introduction_logo.path}}"
              alt="">
          </p>

          <p>{{this.theme.introduction_text | raw}}</p>
          <style>
            .hm-about {
              background: #fff;
              padding: 50px;
              border-bottom: 4px solid #a32330;
              margin-bottom: 30px
            }

            .main-h {
              font-size: 50px !important
            }

            .sub-h {
              font-weight: bold;
              font-size: 22px;
              margin-top: -6px;
              color: #fff;
              text-shadow: 0 2px 2px rgba(0, 0, 0, .3)
            }
          </style>
        </div>
        <p>&nbsp;</p>
      </div>



    </div>

  </div>
</div>
</div>

<div id="group_tours">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">






        <h2 class="with_line">GROUP TOURS 2021</h2>


        <div class="tour_slider" id="discounts_slider_wrapper" data-count="3">


          <button class='btn btn-default leftRs slider_arrow'><i
              class="fa fa-chevron-left"></i></button>


          <div class="resCarousel swiper-container groupTours-js">

            <div class="swiper-wrapper">






              {% partial 'site/group_tours' %}













            </div>

          </div>


          <button class='btn btn-default rightRs slider_arrow'><i
              class="fa fa-chevron-right"></i></button>


        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="with_line text-center">TOUR TYPE</h2>
    </div>
  </div>
  <div class="row">



    {% partial 'site/type_tours' %}








  </div>
</div>

<div class="lazy" id="most_popular_tours"
  style="background-image: url({{ this.page.populartoursbanner_popularToursBanner |media | resize(1920, false, { mode: 'crop', quality: '80', extension: 'jpg' })}});">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h2 class="with_line">MOST POPULAR KYRGYZSTAN TOURS</h2>

        <div class="tour_slider" id="most_popular_slider_wrapper">


          <button class='btn btn-default leftRs slider_arrow sliderLeftArrow'><i
              class="fa fa-chevron-left"></i></button>


          <div class="resCarousel swiper-container slider-js">

            <div class="swiper-wrapper">



              {% partial 'site/popular_tours' %}





            </div>

          </div>


          <button class='btn btn-default rightRs slider_arrow sliderRightArrow' data-slider="most_popular_slider"><i
              class="fa fa-chevron-right"></i></button>


        </div>

      </div>
    </div>
  </div>
</div>

<div id="discounts">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h2 class="with_line">DEALS AND DISCOUNTS</h2>

        <div class="tour_slider">


          <button class='btn btn-default leftRs slider_arrow discountsLeftArrow'><i
              class="fa fa-chevron-left"></i></button>


          <div class="resCarousel swiper-container discounts-js">

            <div class="swiper-wrapper">


              {% partial 'site/discount_tours' %}








            </div>

          </div>


          <button class='btn btn-default rightRs slider_arrow discountsRightArrow'><i
              class="fa fa-chevron-right"></i></button>


        </div>

      </div>
    </div>
  </div>
</div>


<div id="blog_and_review">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <h2 class="with_line with_big_line text-center">LATEST POST</h2>

        {% set posts = blogPosts.posts %}
        {% for post in posts %}
        <div class="latest_post">
          <a href="{{ post.url }}" class="img_link">
            {% for image in post.featured_images|slice(0,1) %}
            <span class="img lazy"
              style="background-image: url('{{image.path | resize(555, false, { mode: 'crop', quality: '80', extension: 'jpg' })}}');"></span>
            {% endfor %}
          </a>

        </div>
        <div class="excerpt latest_post_excerpt">
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <div class="text-center">
            <p>{{post.excerpt}}</p>
          </div>
          <div class="text-center">
            <a href="{{ post.url }}" class="cstm_button round lblue">Read more <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>

        {% endfor %}

      </div>

      <div class="col-sm-6">
        <h2 class="with_line with_big_line text-center">REVIEWS</h2>

        {% for record in Reviews.items %}
        <div class="s_review">
          <div class="row">
            <div class="col-sm-3">
              <img alt="review"
                src="{{ record.preview_image.getPath | resize(104, false, { mode: 'crop', quality: '80', extension: 'jpg' })}}"
                class="img-responsive lazyload">
            </div>
            <div class="col-sm-9">
              <h4 class="name">{{record.name}}</h4>
              <h5 class="work">{{record.review_author_status}} </h5>

              <div class="excerpt">
                <p>
                  <p><em>{{ str_words(record.review, 20) }}</em></p>
                </p>
                <div class="more">
                  <a
                    href="{{Reviews.property('recordPage') ? Reviews.property('recordPage')|page({(Reviews.paramName('recordPageSlug')):(record.slug)})}}">Read
                    more
                    ...</a>
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>
</div>


<div class="partners" style="padding: 30px 0;">

<div class="container">
<div class="row">
<div class="col-sm-12">
<h2 class="with_line" style="text-align: center;">Наши партнеры</h2>
</div>
</div>
</div>

</div>


<div class="lazy" id="contact_block"
  style="background-image: url({{ this.page.contactsbanner_contactsBanner |media | resize(1920, false, { mode: 'crop', quality: '80', extension: 'jpg' })}})">
  <div class="shadow"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2 class="text-center with_line with_big_line">Contact with us</h2>

        <div class="screen-reader-response" role="alert" aria-live="polite"></div>

        <form data-request="{{ genericForm }}::onFormSubmit">

          {{ form_token() }}

          <div id="{{ genericForm }}_forms_flash"></div>

          <div class="form-group">
            <input type="text" id="name" name="name" class="form-control" placeholder="Your name" require>
          </div>

          <div class="form-group">
            <input type="text" id="email" name="email" class="form-control" placeholder="Your email" require>
          </div>



          <div class="form-group">
            <textarea id="message" name="message" class="form-control" cols="40" rows="5" placeholder="Your message"
              require></textarea>
          </div>

          <button id="simpleContactSubmitButton" type="submit" class="btn btn-default cstm_button submit">send</button>

        </form>



      </div>
    </div>
  </div>
</div>
<!-- </div> -->