[viewBag]
==
{% framework %}
{% framework extras %}
  
  <p> <input type="text" name="name" placeholder="Your name"> </p>
          <p> <input type="text" name="name" placeholder="Your email"> </p>
          <p> <textarea name="message" id="" cols="30" rows="10" placeholder="Your message"></textarea> </p>
        
          <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit cstm_button submit" />

           <div class="wpcf7-response-output" role="alert" aria-hidden="true"></div>